#contact .miel {
  display: none;
}

#contact .contact-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-pink);
  color: var(--color-white);
  text-transform: uppercase;
}

#contact .contact-btn:hover,
#contact .contact-btn:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-pink);
  color: var(--color-pink);
  font-weight: 900;
}
