@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import "defaults.css";
@import "header.css";
@import "presentation.css";
@import "skills.css";
@import "portfolio.css";
@import "contact.css";

:root {
  --color-white: rgb(255, 255, 255);
  --color-purple: rgb(183, 99, 232);
  --color-pink: rgb(255, 118, 232);
  --color-blue: rgb(0, 183, 255);
  --color-grey: rgb(90, 90, 90);
  --color-dark-purple: rgb(58, 44, 96);
  --color-black: rgb(26, 32, 44);
}

.uppercase {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-btn {
  display: inline-block;
  width: 150px;
  margin: 10px auto;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--color-grey);
  cursor: pointer;
}

.custom-btn:hover,
.custom-btn:focus {
  font-weight: 700;
  background-color: var(--color-grey);
  color: var(--color-white);
}

.black-button {
  border-color: var(--color-black);
  color: var(--color-black);
}

.black-button:hover,
.black-button:focus {
  background-color: var(--color-black);
}

.blue-button {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--color-blue);
}

.purple-button {
  border-color: var(--color-purple);
  color: var(--color-purple);
}

.purple-button:hover,
.purple-button:focus {
  background-color: var(--color-purple);
}

.pink-button {
  border-color: var(--color-pink);
  color: var(--color-pink);
}

.pink-button:hover,
.pink-button:focus {
  background-color: var(--color-pink);
}

.title {
  padding: 10px;
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.blue-title {
  color: var(--color-blue);
}

.pink-title {
  color: var(--color-pink);
}

.rounded-corners {
  border-radius: 5px;
}

.grey-shadow {
  box-shadow: 0 0 4px var(--color-grey);
}

.links {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .links {
    display: block;
  }
}
